services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy  # Wait for db to be healthy

  db:
    image: postgres:17.6
    ports:
      - "5432:5432"
    volumes:
      - user-management-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-user_management_db}  # Use env var with default
      - POSTGRES_USER=${POSTGRES_USER:-postgres}        # Use env var with default
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}          # Must be in .env
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}" ]
        interval: 5s
        timeout: 5s
        retries: 5

volumes:
  user-management-db-data:

